.frame {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

td {
  width: 250px;
  height: 30px;
  background-color: #7ebdc2;
  text-align: center;
  color: #011627;
}

.addToList {
  margin-bottom: 30px;
  & input {
    width: 230px;
    height: 30px;
  }
}

.some-button {
  background-color: rgb(30, 176, 30);
  border: 1px solid red;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  &:hover:enabled {
    filter: brightness(85%);
  }
  &:disabled {
    background-color: lightgray;
    opacity: 0.7;
    cursor: default;
  }
}

.header-container {
  background-color: antiquewhite;
  color: #011627;
  border-bottom: solid 4px #011627;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.popup-box {
  position: fixed;
  z-index: 100;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.box {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}

.pink {
  background: salmon;
}
